{{#if onMobile}}
	<!-- To-Do: Title -->
	<a href="/">Home</a>
	<a href="/series">Series</a>
	<a href="/lifegroups">Life Groups</a>
	<a href="/ministries">Ministries</a>
	<a href="/about_us">About Us</a>
	<!-- To-Do: Navigation Bar For The Rest Of The Website -->
{{else}}
	<!-- To-Do: Navigation Side Bar -->
	<a href="/">Home</a>
	<a href="/series">Series</a>
	<a href="/lifegroups">Life Groups</a>
	<a href="/ministries">Ministries</a>
	<a href="/about_us">About Us</a>
{{/if}}