<!DOCTYPE html>
<html>
	{{> head}}
	<body>
		{{> webNavigation }}
		<!-- To-Do: Search -->
		<!-- Do: Series List -->
		{{#each series}}
			<!-- To-Do: Thumbnail with Series Info -->
		{{/each}}
		{{> action}}
	</body>
	{{> foot}}
</html>