{{#if renderAction}}
	{{#if isLive}}
		<iframe width="560" height="315" src="https://www.youtube.com/embed/live_stream?channel=UCR_DujzWq0JdwgmuD7DeHSQ" frameborder="0" allowfullscreen></iframe>
		<p>video</p>
	{{/if}}
	{{#if giveEnabled}}
		<p>hello</p>
	{{/if}}
{{/if}}