<div>
	<!-- To-Do: Logo and Title -->
	<a href="/">Home</a>
	<a href="/series">Series</a>
	<a href="/lifegroups">Life Groups</a>
	<a href="/ministries">Ministries</a>
	<a href="/about_us">About Us</a>
</div>